/* 1440 + */
.b-main {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 50%;
    background-color: @cl-profile-gray-light;
    padding-left: 30px;
    padding-right: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &__wrapper-content {
        height: 100%;

        &--main {
            display: flex;
            flex-direction: column;
        }
    }
}