//- ====================
//- profile-developer: hamburger
//- 01-05-2018: VD
//- --------------------
//-  hamburger
//- ====================

mixin hamburger()
    +b('a').hamburger(href="javascript:void(0);", title="", class!=attributes.class, class="js-hamburger")
        +e('span').hamburger-icon