//- ====================
//- profile-developer: social-page
//- 21-01-2018: VD
//- --------------------
//- Логотип
//- ====================

mixin logo()
    +b('a').logo(href="javascript:void(0);", title=name, class!=attributes.class)
        | V
        br
        | D