//- ====================
//- Project: page404
//- 00-00-2017: 
//- --------------------
//- Страница не найдена
//- ====================
mixin page404()
    h1 Страница не найдена
    +b.goto
        +e('h3').header Вам стоит перейти на 
            +e('a').link--another.--other(href="/index.html")
                | страницу страниц