//- ====================
//- Project: footer_main
//- 00-00-2017: Author
//- --------------------
//- Футер страниц
//- ===================


//- Project: mixin footer_main
//- 00-00-2017: Author
//- ---------------------
//- Основной шаблон футера
mixin footer_main()
    | footer