//- Project: profile-developer
//- 21-01-20178: VD
//- ---------------------
//- Шапка сайта - главный миксин
mixin header()

    include ../../section/page/header-block.pug
    +header-block()(class!=attributes.class)