//- ====================
//- Project: Gui
//- 00-00-2017:
//- --------------------
//- Gui
//- ====================

//- Используем стандартный шаблон Project
//- extends ./template/base_layout

block variables
    - var file_name = 'gui'

//- Модифицируем head
block head
    - var pageTitle = 'gui';

//- Выводим content
block content
    .b-container
        h1 Gui
        p empty

        //- +hr()
        //- mixin button(type, content, href)
        //- include section/ui-kit/button.pug
        //- +button('a', 'hello', 'javascript:void(0);')
        //- include section/ui-kit/button.pug
        //- +button('button', 'hello button')


    //- .b-container
    //-     h1 Gui


    //-     +hr()
    //-     //- Текстовые ссылки
    //-     +link('text', 'add-text', true).--test(data-url="atribute")
    //-     +link('text', '', false).js-class.-active(data-popup="open-test")


    //-     +hr().--none
    //-     //- Кнопки похожие на кнопки
    //-     +button('text', 'add-text', true).--test(data-url="atribute")
    //-     +button('text', '', false).js-class.-active(data-popup="open-test")


    //-     +hr()
    //-     +text-block()
    //-         p Параграф  
    //-             b толстый  
    //-             | текст
    //-         ul
    //-             li первый
    //-             li второй
    //-             li элемент списка


    //-     +hr()
    //-     //- Подключаем иконочки icon-{НАЗВАНИЕ SVG ФАЙЛА}
    //-     span.icon-sort


    //-     +hr()
    //-     //- Табы с анимацией
    //-     +tab()
    //-         +e.content.js-tab-content.-active(data-tab-content="1")
    //-             //- контент таба
    //-             p Test tab

    //-         +e.content.js-tab-content(data-tab-content="2")
    //-             //- контент таба
    //-             p Test tab 2

    //-         +e.content.js-tab-content(data-tab-content="3")
    //-             //- контент таба

    //-         +e.content.js-tab-content(data-tab-content="4")
    //-             //- контент таба

    //-         +e.content.js-tab-content(data-tab-content="5")
    //-             //- контент таба


    //-     +hr()
    //-     //- Инпут: +input(id, type, placeholder, name, value)
    //-     +input('id-test', 'password', 'write inside me', 'name-test', 'value-test').-active(data-input="input-test")
    //-     +input('id-test2', 'text', '', 'name-test', 'value-test').--test


    //-     +hr()
    //-     //- Хлебные крошки
    //-     +breadcrumbs('Главная', 'неГлавная', 'другая')


    //-     +hr()
    //-     //- Чекбокс: +checkbox(name, id, title)
    //-     +checkbox( 'box-test', 'box-test-1', 'Значение 1' )
    //-     +checkbox( 'box-test', 'box-test-2', 'Значение 2' )


    //-     +hr()
    //-     //- Радио: +radio(textLabel, name, id, checked, js)
    //-     +radio( 'textLabel-1', 'radio-test', 'id-test-3', false, '' )
    //-     +radio( 'textLabel-2', 'radio-test', 'id-test-4', true, '' )
